.transcript-container {
  --cs-container-bg: #fff;
  --cs-container-color: #000;
  --cs-container-padding-x: 5px;
  --cs-container-padding-y: 5px;
  --cs-container-border-width: 1px;
  --cs-container-border-style: solid;
  --cs-container-border-color: #e9e9e9;
  --cs-container-border-radius: 4px;

  --cs-padding-x: 5px;
  --cs-padding-y: 5px;
  --cs-border-radius: 4px;

  --cs-hover-bg: #e3e4e5;
  --cs-hover-color: #000;

  --cs-active-bg: #9ec5fe;
  --cs-active-color: #000;

  --cs-highlight-bg: transparent;
  --cs-highlight-color: #084298;

  --cs-time-bg: #084298;
  --cs-time-color: #fff;
  --cs-time-border-radius: 4px;
  --cs-time-width: auto;

  padding: var(--cs-container-padding-y) var(--cs-container-padding-x);
  color: var(--cs-container-color);
  background-color: var(--cs-container-bg);
  border: var(--cs-container-border-width) var(--cs-container-border-style) var(--cs-container-border-color);
  border-radius: var(--cs-container-border-radius);

  .transcript-line {
    display: inline-block;
    padding: var(--cs-padding-y) var(--cs-padding-x);
  }

  .transcript-line-container {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: var(--cs-padding-y) 0;

    .time {
      display: inline-block;
      flex-shrink: 0;
      width: var(--cs-time-width);
      padding: var(--cs-padding-y) var(--cs-padding-x);
      color: var(--cs-time-color);
      text-align: center;
      white-space: nowrap;
      background-color: var(--cs-time-bg);
      border-radius: var(--cs-time-border-radius);
    }
  }

  .transcript-line-container,
  .transcript-line {
    cursor: pointer;
    border-radius: var(--cs-border-radius);

    &:not(.active, .active .transcript-line):hover {
      color: var(--cs-hover-color);
      background-color: var(--cs-hover-bg);
    }

    &.played {
      color: var(--cs-highlight-color);
      background-color: var(--cs-highlight-bg);
    }

    &.active {
      color: var(--cs-active-color);
      background-color: var(--cs-active-bg);
    }
  }
}
