.transcript-container {
  --cs-container-bg: #fff;
  --cs-container-color: #000;
  --cs-container-padding-x: 5px;
  --cs-container-padding-y: 5px;
  --cs-container-border-width: 0;
  --cs-container-border-style: solid;
  --cs-container-border-color: #000;
  --cs-container-border-radius: 4px;

  --cs-transcript-padding-x: 5px;
  --cs-transcript-padding-y: 5px;

  --cs-hover-bg: #e3e4e5;
  --cs-hover-color: #000;

  --cs-active-bg: #9ec5fe;
  --cs-active-color: #000;
  --cs-active-border-radius: 4px;
  --cs-active-border-width: 0;
  --cs-active-border-style: solid;
  --cs-active-border-color: #000;

  --cs-highlight-bg: transparent;
  --cs-highlight-color: #084298;
  --cs-highlight-border-radius: 4px;
  --cs-highlight-border-width: 0;
  --cs-highlight-border-style: solid;
  --cs-highlight-border-color: #000;

  --cs-time-width: auto;

  padding: var(--cs-container-padding-y) var(--cs-container-padding-x);
  color: var(--cs-container-color);
  background-color: var(--cs-container-bg);
  border: var(--cs-container-border-width) var(--cs-container-border-style) var(--cs-container-border-color);
  border-radius: var(--cs-container-border-radius);

  .transcript-line {
    display: inline-block;
    padding: var(--cs-transcript-padding-y) var(--cs-transcript-padding-x);
    cursor: pointer;
  }

  .transcript-line-container {
    display: flex;
    cursor: pointer;

    .time {
      display: inline-block;
      flex-shrink: 0;
      width: var(--cs-time-width);
      padding: var(--cs-transcript-padding-y) var(--cs-transcript-padding-x);
    }
  }

  .transcript-line-container,
  .transcript-line {
    &:not(.active, .active .transcript-line):hover {
      color: var(--cs-hover-color);
      background-color: var(--cs-hover-bg);
    }

    &.played {
      color: var(--cs-highlight-color);
      background-color: var(--cs-highlight-bg);
      border: var(--cs-highlight-border-width) var(--cs-highlight-border-style) var(--cs-highlight-border-color);
      border-radius: var(--cs-highlight-border-radius);
    }

    &.active {
      color: var(--cs-active-color);
      background-color: var(--cs-active-bg);
      border: var(--cs-active-border-width) var(--cs-active-border-style) var(--cs-active-border-color);
      border-radius: var(--cs-active-border-radius);
    }
  }
}
