<div class="mw-1760">
  <footer class="bg-theme-primary bg-opacity-10 rounded-5 p-5 my-3 mx-container">
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="bg-theme-primary bg-opacity-10 rounded-5">
          <input type="radio" class="btn-check" name="themes" id="theme-auto" data-theme="auto" autocomplete="off" aria-label="Auto Theme">
          <label class="btn btn-theme btn-fab mini-fab fs-5 shadow-none" for="theme-auto"><i class="bi bi-circle-half"></i><span class="ripple-surface"></span></label>

          <input type="radio" class="btn-check" name="themes" id="theme-light" data-theme="light" autocomplete="off" aria-label="Light Theme">
          <label class="btn btn-theme btn-fab mini-fab fs-5 shadow-none" for="theme-light"><i class="bi bi-sun-fill"></i><span class="ripple-surface"></span></label>

          <input type="radio" class="btn-check" name="themes" id="theme-dark" data-theme="dark" autocomplete="off" aria-label="Dark Theme">
          <label class="btn btn-theme btn-fab mini-fab fs-5 shadow-none" for="theme-dark"><i class="bi bi-moon-stars-fill"></i><span class="ripple-surface"></span></label>
        </div>
      </div>

      <ul class="nav justify-content-center my-4">
        <li class="nav-item">
          <a class="nav-link fw-bold text-light" href="https://github.com/cuesync/cuesync.github.io/blob/main/LICENSE">License</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold text-light" href="https://github.com/cuesync/cuesync.github.io">GitHub</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold text-light" href="https://www.npmjs.com/package/@cuesync/cuesync">npm</a>
        </li>
      </ul>
      <h1 class="site-name text-center text-warning">CueSync</h1>
      <label class="text-center d-block fw-bold mt-4 text-light">v1.0.0-alpha1</label>
    </div>
  </footer>
</div>
