// stylelint-disable property-no-vendor-prefix, declaration-no-important, selector-max-id, function-disallowed-list, font-weight-notation

// Light Theme
:root,
[data-bs-theme="light"] {
  --theme-code-body: #fff;
  --theme-code-header: var(--bs-gray-2);
  --bs-border-color: var(--bs-gray-3);
  --bs-table-border-color: var(--bs-gray-3);
  --theme-primary: var(--bs-warning-rgb);
}

[data-bs-theme="dark"] {
  --theme-code-body: #000;
  --theme-code-header: var(--bs-gray-8);
  --bs-border-color: var(--bs-gray-7);
  --bs-table-border-color: var(--bs-gray-7);
  --theme-primary: var(--bs-warning-rgb);
}

:root {
  --bs-link-color: var(--bs-body-color);
  --bs-link-hover-color: rgba(var(--theme-primary), 1);
}

body {
  font-family: Montserrat, sans-serif;
}

.bg-theme-primary,
#site-tab {
  background: #aa076b;
  background: linear-gradient(to right, #61045f, #aa076b);
}

.mx-container {
  margin-right: calc(1.5rem * .5);
  margin-left: calc(1.5rem * .5);
}

#site-tab,
#cdn-tab {
  --bs-nav-pills-link-active-color: #000;
  --bs-nav-pills-link-active-bg: rgb(var(--bs-warning-rgb));
  --bs-nav-link-color: #fff;
  --bs-nav-link-hover-color: #fff;
  --mdc-ripple-color: rgba(var(--bs-warning-rgb), 1);

  .nav-link:focus-visible {
    box-shadow: 0 0 0 .25rem rgba(var(--bs-warning-rgb), .5);
  }
}

.mw-1760 {
  max-width: 1760px;
  margin-right: auto;
  margin-left: auto;
}

.sticky-top {
  top: -1px;
  border-top: .5rem solid transparent;
  transition-timing-function: cubic-bezier(.2, 0, 0, 1);
  transition-duration: 300ms;
  transition-property: max-width, margin;

  &.container {
    #site-tab {
      margin-right: 0 !important;
      margin-left: 0 !important;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3), 0 1px 3px 1px rgba(0, 0, 0, .15);
    }
  }

  &:not(.container) {
    max-width: 1760px;
    margin-right: auto;
    margin-left: auto;
  }
}

:target {
  scroll-margin-top: var(--site-tab-height, 100px);
}

.btn-theme {
  --mdc-ripple-color: rgba(var(--theme-primary), 1);
  color: #fff;
}

.btn-check {
  &:focus-visible + .btn-theme {
    box-shadow: 0 0 0 .25rem rgba(var(--bs-warning-rgb), .5) !important;
  }

  &:checked + .btn-theme {
    color: #000;
    background-color: rgba(var(--bs-warning-rgb), 1);
  }
}

html {
  min-height: 100vh;
}

h2 {
  margin-bottom: 1rem;
}

h3,
h4,
h5 {
  font-weight: 300;
}

p {
  margin: 10px 0;
}

.site-name {
  font-family: "Kaushan Script", cursive;
  font-size: calc(2.375rem + 1.5vw);
}

.ms-toc {
  .nav {
    --bs-nav-link-padding-x: .5rem;
    --bs-nav-link-padding-y: .3rem;
  }

  .nav-item {
    .nav {
      .nav-link {
        padding-left: 1rem;
      }
    }
  }

  .nav-link {
    font-size: .875rem;
    color: var(--bs-secondary-color);
    border-left: 2px solid var(--bs-border-color) !important;
    border-radius: 0 !important;

    &.active {
      font-weight: 700;
      color: #aa076b;
      border-left: 2px solid #aa076b !important;
    }

    &:hover {
      color: #aa076b;
      border-left: 2px solid #aa076b !important;
    }
  }
}

// Offset content from fixed navbar when jumping to headings
.component-showcase > :target {
  padding-top: 5rem;
  margin-top: -5rem;
}

@media (max-width: 768px) {
  .component-page {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
}

.component-page {
  display: flex;
  flex-wrap: no-wrap;
  gap: 2rem;

  .component-showcase {
    flex: 1 1 auto;
    min-width: 245px;

    p {
      margin: 10px 0;
    }
  }

  .component-map {
    flex: 1 0 220px;
    max-width: 220px;

    .sticky-md-top {
      z-index: auto;
    }
  }

  h1 {
    margin-bottom: 20px;
    font-size: 3rem;
  }
}

.adspace {
  //height: 220px;
  padding: 10px;
  border-bottom: 5px solid #fafafa;

  .ad {
    width: 200px;
    height: 200px;
    color: #fff;
  }
}

// Code Highlight
.highlight-toolbar {
  background: var(--theme-code-header);
}

.highlight {
  position: relative;
  padding: 1.5rem 1rem;
  font-family: monospace;
  color: var(--bs-body-color);
  word-break: break-word;
  background: var(--theme-code-body);
}

.highlight .highlight pre {
  margin: 0;
}

.hljs {
  display: block;
  padding: .5em;
  overflow-x: auto;
  color: #333;
  background: #f5f5f5;
}

.hljs-comment,
.hljs-quote {
  font-style: italic;
  color: #424242;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  font-weight: bold;
  color: #333;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #e93d62;
}

.hljs-string,
.hljs-doctag {
  color: #009688;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  font-weight: bold;
  color: #900;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  font-weight: bold;
  color: #458;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  font-weight: normal;
  color: #3f50b4;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

// stylelint-disable selector-class-pattern
.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

// stylelint-enable selector-class-pattern

.hljs-meta {
  font-weight: bold;
  color: #999;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

// Pygments Highlight
.highlight .hll {
  background-color: #ffc;
}

.highlight .c {
  color: #008000;
}

/* Comment */
.highlight .err {
  border: 1px solid #f00;
}

/* Error */
.highlight .k {
  color: #00f;
}

/* Keyword */
.highlight .cm {
  color: #008000;
}

/* Comment.Multiline */
.highlight .cp {
  color: #00f;
}

/* Comment.Preproc */
.highlight .c1 {
  color: #008000;
}

/* Comment.Single */
.highlight .cs {
  color: #008000;
}

/* Comment.Special */
.highlight .ge {
  font-style: italic;
}

/* Generic.Emph */
.highlight .gh {
  font-weight: bold;
}

/* Generic.Heading */
.highlight .gp {
  font-weight: bold;
}

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold;
}

/* Generic.Strong */
.highlight .gu {
  font-weight: bold;
}

/* Generic.Subheading */
.highlight .kc {
  color: #00f;
}

/* Keyword.Constant */
.highlight .kd {
  color: #00f;
}

/* Keyword.Declaration */
.highlight .kn {
  color: #00f;
}

/* Keyword.Namespace */
.highlight .kp {
  color: #00f;
}

/* Keyword.Pseudo */
.highlight .kr {
  color: #00f;
}

/* Keyword.Reserved */
.highlight .kt {
  color: #2b91af;
}

/* Keyword.Type */
.highlight .s {
  color: #a31515;
}

/* Literal.String */
.highlight .nc {
  color: #2b91af;
}

/* Name.Class */
.highlight .ow {
  color: #00f;
}

/* Operator.Word */
.highlight .sb {
  color: #a31515;
}

/* Literal.String.Backtick */
.highlight .sc {
  color: #a31515;
}

/* Literal.String.Char */
.highlight .sd {
  color: #a31515;
}

/* Literal.String.Doc */
.highlight .s2 {
  color: #a31515;
}

/* Literal.String.Double */
.highlight .se {
  color: #a31515;
}

/* Literal.String.Escape */
.highlight .sh {
  color: #a31515;
}

/* Literal.String.Heredoc */
.highlight .si {
  color: #a31515;
}

/* Literal.String.Interpol */
.highlight .sx {
  color: #a31515;
}

/* Literal.String.Other */
.highlight .sr {
  color: #a31515;
}

/* Literal.String.Regex */
.highlight .s1 {
  color: #a31515;
}

/* Literal.String.Single */
.highlight .ss {
  color: #a31515;
}

/* Literal.String.Symbol */

.highlight .nt {
  color: #1a237e;
}

.highlight .na {
  color: #00695c;
}

.inline-code {
  display: inline-block;

  .highlight {
    display: inline-block;
  }
}

pre,
.highlight {
  margin: 0;
}

// stylelint-disable no-duplicate-selectors
[data-bs-theme="dark"] {
  .highlight .hll {
    background-color: #ffc;
  }

  .highlight .c {
    color: var(--bs-teal);
  }

  /* Comment */
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2;
  }

  /* Error */
  .highlight .k {
    font-weight: bold;
    color: #ff72ff;
  }

  /* Keyword */
  .highlight .cm {
    color: #228b22;
  }

  /* Comment.Multiline */
  .highlight .cp {
    color: #00bcd4;
  }

  /* Comment.Preproc */
  .highlight .c1 {
    color: var(--bs-teal);
  }

  /* Comment.Single */
  .highlight .cs {
    font-weight: bold;
    color: #ff72ff;
  }

  /* Comment.Special */
  .highlight .gd {
    color: #a00;
  }

  /* Generic.Deleted */
  .highlight .ge {
    font-style: italic;
  }

  /* Generic.Emph */
  .highlight .gr {
    color: #a00;
  }

  /* Generic.Error */
  .highlight .gh {
    font-weight: bold;
    color: #000080;
  }

  /* Generic.Heading */
  .highlight .gi {
    color: #0a0;
  }

  /* Generic.Inserted */
  .highlight .go {
    color: rgba(var(--bs-white-rgb), .75);
  }

  /* Generic.Output */
  .highlight .gp {
    color: #555;
  }

  /* Generic.Prompt */
  .highlight .gs {
    font-weight: bold;
  }

  /* Generic.Strong */
  .highlight .gu {
    font-weight: bold;
    color: #800080;
  }

  /* Generic.Subheading */
  .highlight .gt {
    color: #a00;
  }

  /* Generic.Traceback */
  .highlight .kc {
    font-weight: bold;
    color: #ff72ff;
  }

  /* Keyword.Constant */
  .highlight .kd {
    font-weight: bold;
    color: #ff72ff;
  }

  /* Keyword.Declaration */
  .highlight .kn {
    font-weight: bold;
    color: #ff72ff;
  }

  /* Keyword.Namespace */
  .highlight .kp {
    font-weight: bold;
    color: #ff72ff;
  }

  /* Keyword.Pseudo */
  .highlight .kr {
    font-weight: bold;
    color: #ff72ff;
  }

  /* Keyword.Reserved */
  .highlight .kt {
    font-weight: bold;
    color: #ababab;
  }

  /* Keyword.Type */
  .highlight .m {
    color: #e684ff;
  }

  /* Literal.Number */
  .highlight .s {
    color: #ff8787;
  }

  /* Literal.String */
  .highlight .na {
    color: #87ba00;
  }

  /* Name.Attribute */
  .highlight .nb {
    color: #87ba00;
  }

  /* Name.Builtin */
  .highlight .nc {
    font-weight: bold;
    color: #00c461;
  }

  /* Name.Class */
  .highlight .no {
    color: #00b7f5;
  }

  /* Name.Constant */
  .highlight .nd {
    color: #707a7c;
  }

  /* Name.Decorator */
  .highlight .ne {
    font-weight: bold;
    color: #00c461;
  }

  /* Name.Exception */
  .highlight .nf {
    color: #00c461;
  }

  /* Name.Function */
  .highlight .nn {
    color: #00c461;
    text-decoration: underline;
  }

  /* Name.Namespace */
  .highlight .nt {
    font-weight: bold;
    color: #ff72ff;
  }

  /* Name.Tag */
  .highlight .nv {
    color: #00b7f5;
  }

  /* Name.Variable */
  .highlight .ow {
    color: #ff72ff;
  }

  /* Operator.Word */
  .highlight .w {
    color: #bbb;
  }

  /* Text.Whitespace */
  .highlight .mf {
    color: #e684ff;
  }

  /* Literal.Number.Float */
  .highlight .mh {
    color: #e684ff;
  }

  /* Literal.Number.Hex */
  .highlight .mi {
    color: #e684ff;
  }

  /* Literal.Number.Integer */
  .highlight .mo {
    color: #e684ff;
  }

  /* Literal.Number.Oct */
  .highlight .sb {
    color: #ff8787;
  }

  /* Literal.String.Backtick */
  .highlight .sc {
    color: #ff8787;
  }

  /* Literal.String.Char */
  .highlight .sd {
    color: #ff8787;
  }

  /* Literal.String.Doc */
  .highlight .s2 {
    color: #ff8787;
  }

  /* Literal.String.Double */
  .highlight .se {
    color: #ff8787;
  }

  /* Literal.String.Escape */
  .highlight .sh {
    font-style: italic;
    color: #1c7e71;
  }

  /* Literal.String.Heredoc */
  .highlight .si {
    color: #ff8787;
  }

  /* Literal.String.Interpol */
  .highlight .sx {
    color: #cb6c20;
  }

  /* Literal.String.Other */
  .highlight .sr {
    color: #1c7e71;
  }

  /* Literal.String.Regex */
  .highlight .s1 {
    color: #ff8787;
  }

  /* Literal.String.Single */
  .highlight .ss {
    color: #ff8787;
  }

  /* Literal.String.Symbol */
  .highlight .bp {
    color: #87ba00;
  }

  /* Name.Builtin.Pseudo */
  .highlight .vc {
    color: #00b7f5;
  }

  /* Name.Variable.Class */
  .highlight .vg {
    color: #00b7f5;
  }

  /* Name.Variable.Global */
  .highlight .vi {
    color: #00b7f5;
  }

  /* Name.Variable.Instance */
  .highlight .il {
    color: #e684ff;
  }
}
